@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Estilos Generales */

:root{

    --color-primario:#E5E5E5;
    --color-secundario:white;
    --color-terciario: #0A3871;
    --text-color:#000000;
    
    --fuente-Inter: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

/* header  */

.nav__img{
    padding: 2% 0% 0% 2%;
    text-decoration: none;
}

/* Contenido del main  */

.contenido{
    display: flex;
    box-sizing: border-box;
    /* justify-content: space-between; */
    gap: 80px;
}

/* Casilla texto  */

.ingresar__texto__botones{
    width: 50%;
    height: 635px;
    padding: 0;
    padding-right: 150px;
}

.cuadro__ingresa__texto{
    background: var(--color-primario);
    /* width: 80%; */
    height: 800px;
    padding-top: 80px;
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    font-size: 168px 240px;
    font-weight: 400;
}

.input__ingresa__texto{
    background: var(--color-primario);
    padding: 5% 15%;
    font-size: 1.5em;
    font-weight: 400;
    font-family: var(--fuente-Inter);
    box-sizing: border-box;
    border: none;
    resize: none;
    outline: none;
}

/* Texto restringido y botones  */

.div__texto__botones{
    display: flex;
    flex-direction: column;
    padding: 5% 15%;
    gap: 16px;
}

.texto__restringido{
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    font-size: 0.5em;
}

.img__texto__restringido{
    width: 10px;
    height: 10px;
}

.botones{
    display: flex;
    gap: 24px;
}

.boton__encriptar{
    width: 328px;
    height: 67px;
    background-color: var(--color-terciario);
    color: var(--color-secundario);
    padding: 24px;
    border-radius: 24px;
    font-family: var(--fuente-Inter);
    font-size: 0.75rem;
}

.boton__desencriptar{
    width: 328px;
    height: 67px;
    background-color: var(--color-primario);
    color: var(--color-terciario);
    border-radius: 24px;
    border: 1px solid var(--color-terciario);
}

/* Cuadro texto encriptado  */

.rectangulo__texto__encriptado{
    background-color: var(--color-secundario);
    color: #000000;
    padding: 40px 40px 40px 0;
    align-items: center;
    box-shadow: 10px 10px 5px #CED4DA;
    width: 400px;
    height: 940px;
    border-radius: 32px;
    justify-content: center;
}

.texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 24;
    padding: 0 32px 243px 32px;
    gap: 16px;
    justify-content: center;
}

.imagen__muneco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 243px 32px 32px 32px;
}

/* footer  */

.footer{
    color: var(--color-terciario);
    text-align: center;
    text-decoration: none;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    text-decoration: none;
}

.footer__link__nombre{
    color: var(--color-terciario);
    text-decoration: none;
}

@media (max-width: 768px ){

    /* .header{
        height: 116px;
        padding: 10%;
        text-decoration: none;
    } */

    .contenido{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 181px;
    }

    .cuadro__ingresa__texto{
        height: 548px;
    }

    .ingresar__texto__botones{
        width: 100%;
    }

    .div__texto__botones{
        justify-content: center;
        padding: 5% 15%;
    }

    .botones{
        width: 688px;
        align-items: center;
    }

    .boton__encriptar{
        width: 332px;
    }

    .boton__descriptar{
        width: 332px;
    }

    .rectangulo__texto__encriptado{
        width: 688px;
        height: 133px;
        justify-content: center;
    }

    .imagen__muneco{
        display: none !important;
    }

    .texto{
        padding: 32px 0 32px 48px;
        align-items: center;
    }
}

@media (max-width: 375px ){

    .nav__img {
        padding: 5% 0% 0% 2%;
    }
    
    .contenido{
        gap: 288px;
    }
    .input__ingresa__texto {
        padding: 5% 35%;
    }

    .texto__restringido{
        padding: 5% 15%;
    }

    .botones{
        flex-direction: column;
        width: 420px;
        padding: 5% 0%;
    }

    .rectangulo__texto__encriptado{
        width: 228px;
        padding: 5% 15%;
        font-size: 13px;
    }
    .texto{
        padding: 5% 10%;
    }
}